apiVersion: v1
kind: Secret
metadata:
  name: {{.AgentID}}-secrets
  labels:
    app: {{.AgentID}}
  {{- if .RequiredEnvVars}}
  annotations:
    forge.initializ.ai/generated: "true"
  {{- end}}
type: Opaque
stringData:
  api-key: ""
  base-url: ""
  temperature: ""
  max-tokens: ""
{{- range .RequiredEnvVars}}
  {{.}}: ""
{{- end}}
{{- range .OptionalEnvVars}}
  # optional
  {{.}}: ""
{{- end}}
