apiVersion: v1
kind: Service
metadata:
  name: {{.AgentID}}
  labels:
    app: {{.AgentID}}
spec:
  selector:
    app: {{.AgentID}}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{.Runtime.Port}}
  type: ClusterIP
